.list_gallery{}
.item_gallery{width: 100%}
.item_gallery .thumb{width: inherit;height: inherit}
.item_gallery + .item_gallery{margin-top: 6px}
.item_gallery.stay,.item_gallery.room{height: 224px}
.item_gallery.coupon{height: 270px}
.gallery_label.txt{position:fixed;display:block;width:100%;height:30px;background-color:rgba(0,0,0, 0.4);font-size:14px;text-align:center;color:#ffffff;font-weight:bold;font-style:normal;line-height:28px}
@media (min-width: 1024px) {
    .item_gallery.stay,.item_gallery.room{height: 662px}
    .item_gallery.coupon{height: 738px}
}

@media (min-width: 768px) and (max-width:1023px) {
    .item_gallery.stay,.item_gallery.room{height: 458px}
    .item_gallery.coupon{height: 552px}
}

