@charset "utf-8";

@import "./common.css";



/* 초기화 */
* {
    margin: 0;
    padding: 0;
    font-size:0;
    box-sizing:border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
    display: inline-block;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 16px;
}

body {}

/* 초기화끝 */
/* 본문시작 */
#nav_body {}

#menu_title {
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    font-weight: 700;
    text-indent: 10px;
}

.menu_items {
    padding: 10px 0 10px 10px;
    border-bottom: 1px solid #eee;
    line-height: 30px;
}

.menu_items>a {
    font-weight: 900;
    font-size:0;
}

.menu_items li {
    display: inline-block;
    width: 50%;
}

span.txt {
    font-size:16px;
}

/* icons */
.icon_category_link {
    display: inline-block;
    width: 24px;
    height: 24px;
    text-indent: -999999px;
    background: url(../img/icon_allmemucategory_bottom_48x48_2px,2px_x2.png) no-repeat left 10px/200px 50px;
    vertical-align:top;
    margin-top:3px;
}

.icon_category_air {
    background-position: 0px 0px
}

.icon_category_stay {
    background-position: -25px 0px
}

.icon_category_rentcar {
    background-position: -50px 0px
}

.icon_category_tour {
    background-position: -75px 0px
}

.icon_category_food {
    background-position: -100px 0px
}

.icon_category_buggy {
    background-position: -125px 0px
}

.icon_category_insure {
    background-position: -150px 0px
}

.icon_category_event {
    background-position: -175px 0px
}

.icon_category_cart {
    background-position: 0px -25px
}

.icon_category_mypage {
    background-position: -25px -25px
}

.icon_category_customer {
    background-position: -50px -25px
}

.icon_category_how {
    background-position: -75px -25px
}