<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/icon/index.css">
    <link rel="stylesheet" href="/css/component/map/index.css">
</head>
<body>
    <div class="marker stay">
        <input type="radio" id="ids1" name="t" hidden>
        <label for="ids1">
            <p class="label name"><i class="icon_marker icon_stay">숙박</i><span class="txt">호텔샬롬제주</span></p>
            <p class="label price">\220,000원~</p>
        </label>
        <div class="stroke">
            <div class="triangle"></div>
        </div>
    </div>
    <div class="marker tour">
        <input type="radio" id="ids1" name="t" hidden>
        <label for="ids1">
            <p class="label name"><i class="icon_marker icon_tour">관광지</i><span class="txt">호텔샬롬제주</span></p>
            <p class="label price">\220,000원~</p>
        </label>
        <div class="stroke">
            <div class="triangle"></div>
        </div>
    </div>
    <div class="marker buggy">
        <input type="radio" id="ids1" name="t" hidden>
        <label for="ids1">
            <p class="label name"><i class="icon_marker icon_buggy">카시트</i><span class="txt">호텔샬롬제주</span></p>
            <p class="label price">\220,000원~</p>
        </label>
        <div class="stroke">
            <div class="triangle"></div>
        </div>
    </div>
    <div class="marker food">
        <input type="radio" id="ids1" name="t" hidden>
        <label for="ids1">
            <p class="label name"><i class="icon_marker icon_food">맛집/뷔페</i><span class="txt">호텔샬롬제주</span></p>
            <p class="label price">\220,000원~</p>
        </label>
        <div class="stroke">
            <div class="triangle"></div>
        </div>
    </div>
    <div class="marker rentcar">
        <input type="radio" id="ids2" name="t" hidden>
        <label for="ids2">
            <p class="label name"><i class="icon_marker icon_car">렌트카</i><span class="txt">갤럭시렌트카(13대)</span></p>
        </label>
        <div class="stroke">
            <div class="triangle"></div>
        </div>
    </div>

    <div class="marker my_position">
        <p class="label name">현재 위치입니다.</p>
        <div class="stroke">
            <div class="triangle"></div>
        </div>
    </div>

    <div class="marker my_position">
        <p class="label name">현재 위치입니다.</p>
        <div class="stroke">
            <div class="triangle"></div>
        </div>
    </div>
</body>
</html>