
#wrap {
    display: grid !important;
    grid-template-rows: 52px 1fr;
    grid-template-areas: 
        "header"
        "content";
}

header {
    grid-area: header;
}

header div em {
    font-size: 20px !important;
    font-size: 1.25rem !important;
}

section {
    grid-area: content;

}


.descriptions li a {
    color: #ff0000;
    font-weight: bold;
    text-decoration: underline;
}


